@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: normal;
  src: url('../assets/fonts/Open-Sans-regular.woff2') format('woff2');
}

body {
  background-color: #999999;
  font-family: 'Open Sans';
  color: white;
}

.form {
  margin-top: 150px;
  text-align: center;
  font-size: 18px;
}

.previous {
  margin-top: 150px;
  text-align: center;
  font-size: 18px;
}

#buttons, #prevButton {
  text-align: center;
  font-size: 18px;
}

.previous p {
  margin-top: 200px;
  text-align: center;
  font-size: 30px;
}

h1 {
  margin-top: 150px;
  text-align: center;
  font-size: 60px;
}

.previous {
  display: inline;
}

input{
  color: black;
  background-color: white;
  padding: 3px;
}

input.ng-dirty.ng-invalid{
  border: 2px solid #ff8080;
  background-color: #ff8080; 
}

input.ng-invalid:focus{
  border: 2px solid cornflowerblue;
  background-color: white;
}

input.ng-valid{
  border: 2px solid #80ff80;
  background-color: #80ff80;
}

.btn {
  font-size: 18px;
  margin: 5px;
}

label.example{
  font-size: 12px;
  display: block;
}

p.note{
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

div.vis-network {
  background-color: white;
  float: right;
  margin-top: 10px;
  margin-bottom: 100px;
  margin-right: 10px;
  margin-left: 10px;
  width: 900px;
  height: 700px;
}