<!DOCTYPE html>
<html>
  <head>
    <title>Floodlight controller GUI</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/app.css">
    <script src="../../node_modules/jquery/dist/jquery.min.js"></script>
  </head>
  <body>
    <div id ="main">
      <h1>Welcome!</h1>
        <br></br>
        <br></br>
      <p>Choose where the Floodlight SDN Controller is running:</p>
        <br></br>
          <button id="local" type="button" class="btn btn-default btn-lg">This computer</button>
          <button id="other" type="button" class="btn btn-default btn-lg">Other computer</button>
        <br></br>
        <br></br>
        <p id="demo"></p>
      <p id="note">Choosing "This computer" tries to connect to localhost, "Other computer" lets you choose the IP address where the controller is running</p>
    </div>
    <script src="./js/loader.js"></script>
  </body>

</html>
