<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <title>Floodlight controller GUI</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="../../node_modules/angular/angular.min.js"></script>
    <script src="../../node_modules/angular-resource/angular-resource.min.js"></script>
    <link rel="stylesheet" href="../../node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/app.css">
    <link rel="stylesheet" href="../styles/login.css">
  </head>
  <body>
    <div class ="main" ng-controller="login.controller">
      <div id="buttons" ng-hide="showForm">
        <h1>Welcome!</h1><br><br>
        <p>Choose where the Floodlight SDN Controller is running:</p><br>
        <button type="button" ng-click="onClickThis()" ng-disabled="thisClicked" class="btn btn-default btn-lg">
          <span ng-hide="showLoading">
            This computer 
          </span>
          <span ng-show="showLoading">
            Loading...
            <i class="fa fa-spinner fa-spin"></i>
          </span> 
        </button>
        <button type="button" ng-click="onClickOther()" ng-disabled="thisClicked" class="btn btn-default btn-lg">
          Other computer
        </button>
        <br><br>
        <p class="note">Choosing "This computer" tries to connect to localhost, "Other computer" lets you choose the IP address where the controller is running</p>
      </div>
      <div class="form" ng-show="showForm">
        <br><br>
        <p>Insert the IP address of the machine where the Floodlight Controller is running:
        <br><br>
        <form class="form-inline" id="ipForm" name="ipForm" ng-model="ipForm" novalidate>
          <div class="form-group has-feedback" ng-class="{ 'has-error': ipForm.ip.$invalid && !ipForm.ip.$pristine && !ipForm.ip.$dirty, 'has-success': ipForm.ip.$valid }">
            <label for="ipAddress">IP address:</label>
            <input class="form-control" name="ip" ng-model="ip" ng-model-options="{ debounce: 100 }" placeholder="0.0.0.0" ng-pattern= "ipPattern" ng-keypress="filterValue($event)" required></input>
          </div>
            <button ng-click="onClickSubmit()" type="submit" class="btn btn-default" ng-disabled="ipForm.ip.$invalid || submitLoading">
              <span ng-hide="submitLoading">
                Submit
              </span>
              <span ng-show="submitLoading">
                Loading...
                <i class="fa fa-spinner fa-spin"></i>
              </span>
            </button>
            <label class="example">For example "192.168.1.2"</label>
        </form>
        <br>
        <button ng-click="onClickBack()" ng-disabled="submitLoading" type="button" class="btn btn-primary">
          Back
        </button>
      </div>
    </div>
    <script type="text/javascript" src="../app.js"></script>
    <script type="text/javascript" src="../services/rest.service.js"></script>
    <script type="text/javascript" src="../controllers/login.controller.js"></script>
    <script type="text/javascript" src="../controllers/load.controller.js"></script>
  </body>
</html>
