<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand mb-0">FloodGUI</a>
        </div>
        <ul class="nav navbar-nav">
            <li ng-class="{ active: showHome}"><a href="" ng-click="changeView('home')">Home</a></li>
            <li ng-class="{ active: showDevices}"><a href="" ng-click="changeView('devices')">Devices</a></li>
            <li ng-class="{ active: showPorts}"><a href="" ng-click="changeView('ports')">Ports</a></li>
            <li ng-class="{ active: showAbout}"><a href="" ng-click="changeView('about')">About</a></li>
        </ul>
    </div>
</nav>

<div id="home" ng-show="showHome">
    <div ng-controller="graph.controller">
        <vis-network data="graphData" options="graphOptions" events="graphEvents"></vis-network>
        <button id="restore" type="button" ng-click="graphFit()" class="btn btn-info" ng-disabled="btnDisabled">
            <span ng-hide="showLoading">
                Restore Graph!
            </span>
            <span ng-show="showLoading">
                Loading...
            <i class="fa fa-spinner fa-spin"></i>
    </button>
    </div>
    <div ng-controller="stats.controller">
        <ul class="list-group">
            <li class="list-group-item active">
                Floodlight Controller info:
            </li>
             <li class="list-group-item">
                <span ng-show="showUptime">
                    Uptime: {{uptime}} 
                </span>
                <span ng-hide="showUptime">
                    Uptime:
                <i class="fa fa-gear fa-spin"></i>
                </span>
            </li>
            <li class="list-group-item">
                <span ng-show="showVersion">
                    Controller version: {{version}}
                </span>
                <span ng-hide="showVersion">
                    Controller version:
                <i class="fa fa-gear fa-spin"></i>
                </span>
            </li>
            <li class="list-group-item">
                <span ng-show="showFirewallStatus">
                    Firewall status: {{firewallStatus}}
                </span>
                <span ng-hide="showFirewallStatus">
                    Firewall status:
                <i class="fa fa-gear fa-spin"></i>
                </span>
            </li>
        </ul>
        <ul class="list-group">
            <li class="list-group-item active">Floodlight Controller status:</li>
            <li ng-class="memoryState">
                <span ng-show="showMemory">
                    Memory: {{memory}}
                </span>
                <span ng-hide="showMemory">
                    Memory:
                <i class="fa fa-gear fa-spin"></i>
                </span>
            </li>
            <li ng-class="apiHealthState">
                <span ng-show="showApiHealth">
                    API Health: {{apiHealth}}
                </span>
                <span ng-hide="showApiHealth">
                    API Health:
                <i class="fa fa-gear fa-spin"></i>
                </span>
            </li>
        </ul>
    </div>
</div>
<div id="devices" ng-show="showDevices">
    <p>Devices view</p>
</div>
<div id="ports" ng-show="showPorts">
    <p>Ports view</p>
</div>
<div id="about" ng-show="showAbout">
    <p>About view</p>
</div>
</div>