<!DOCTYPE html>
<html ng-app="main.app">

<head>
    <title>Floodlight controller GUI</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="../../node_modules/angular/angular.min.js"></script>
    <script src="../../node_modules/angular-resource/angular-resource.min.js"></script>
    <link rel="stylesheet" href="../../node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/app.css">
    <link rel="stylesheet" href="../styles/main.view.css">
</head>

<body>
    <div class="main" ng-controller="main.controller">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand mb-0" href="#">FloodGUI</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href = "" ng-click="changeView('home')">Home</a></li>
                    <li><a href = "" ng-click="changeView('devices')" >Devices</a></li>
                    <li><a href = "" ng-click="changeView('ports')">Ports</a></li>
                    <li><a href = "" ng-click="changeView('about')">About</a></li>
                </ul>
            </div>
        </nav> 

        <div id="home" ng-show="showHome">
            <p>Home view</p>
        </div>
        <div id="devices" ng-show="showDevices">
            <p>Devices view</p>
        </div>
        <div id="ports" ng-show="showPorts">
            <p>Ports view</p>
        </div>
        <div id="about" ng-show="showAbout">
            <p>About view</p>
        </div>
    </div>
    <script type="text/javascript" src="../main.app.js"></script>
    <script type="text/javascript" src="../services/rest.service.js"></script>
    <script type="text/javascript" src="../controllers/main.controller.js"></script>
</body>

</html>